<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css" type="text/css">

<title><?php echo $title;?></title>

<link rel="stylesheet" href="<?php echo __DOC_ROOT; ?>/css/style.css" type="text/css">
</head>

<body>
<div id="head">
<h1><?php echo $heading; ?></h1>
<div id="login_form">
<form id="login" name="login" method="post">
<a href="#">Register</a> or Login: <input type="text" name="user_name" size="10" />
<input name="user_password" type="password" size="10" />
<input type="submit" value="Log in" />
</form>

</div><!-- end login form -->

</div> <!-- end of header -->

<div id="foot">&copy; 2009 PHPRO.ORG ~ All rights reserved.</div>



<div id="content">

<div id="headline">
	<?php echo $heading; ?>
</div>
<p><?php echo $content; ?></p>

</div> <!-- end main content div -->

</body>

</html>
